# Terraform
*.tfstate
*.tfstate.*
.terraform/


# Kubernetes
kubeconfig

# IDE
.vscode/
.idea/

# Linux
*.swp
*.swo

# Python
__pycache__/
*.pyc

# Node
node_modules/

# Dotnet
bin/
obj/

# Logs
*.log
